SERVICE_NAME=transaction
APP_ENV=dev
GRPC_PORT=50054
GRPC_HOST=localhost
LOG_LEVEL=debug
DB_DSN=postgres://postgres:postgres@localhost:5434/transaction?sslmode=disable
ACCOUNT_GRPC_HOST=localhost:50051
KAFKA_BROKER_HOST=localhost:29092
KAFKA_CONSUMER_GROUP=consumer-transaction
KAFKA_TRANSACTION_TOPIC=transaction_response
