SERVICE_NAME=transaction
APP_ENV=dev
GRPC_PORT=50054
GRPC_HOST=localhost
LOG_LEVEL=debug
DB_DSN=postgres://postgres:postgres@localhost:5434/transaction?sslmode=disable
ACCOUNT_GRPC_HOST=localhost:50051
